{% extends 'base.html.twig' %}

{% block title %}Equipes
{% endblock %}

{% block body %}
	<h1>Liste des équipes</h1>
	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Victoires</th>
				<th>Défaites</th>
				<th>Matchs nuls</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for equipe in equipes %}
				<tr>
					<td>{{ equipe.name }}</td>
					<td>{{ stats[equipe.id].wins }}</td>
					<td>{{ stats[equipe.id].losses }}</td>
					<td>{{ stats[equipe.id].draws }}</td>
					<td>
						<a href="{{ path('equipe_show', {'id': equipe.id}) }}">Voir les détails</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucune équipe trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
